.dark {
  /* =================================================
    *  background colors
    *================================================== */

  --color-bg-promotion: var(--color-yellow-950);
  --color-bg-promotion-urgent: var(--color-rose-500);
  --color-bg-enrollment-pending: var(--color-yellow-950);
  --color-bg-enrolled: var(--color-emerald-950);

  /* =================================================
    *  border colors
    *================================================== */

  --border-color-promotion: var(--color-yellow-700);

  /* =================================================
    *  Foreground colors
    *================================================== */

  --color-fg-required: var(--color-red-400);

  --color-fg-available: var(--color-green-400);
  --color-fg-promotion: var(--color-yellow-400);
  --color-fg-promotion-urgent: var(--color-rose-400);
  --color-fg-rating: var(--color-amber-500);
  --color-fg-completed: var(--color-green-400);
  --color-fg-incomplete: var(--color-red-400);
  --color-fg-discount: var(--color-green-400);

  --color-fg-enrolled: var(--color-emerald-400);
  --color-fg-enrollment-pending: var(--color-yellow-400);
}
