@layer components {
  .profile-dropdown {
    @apply w-40 gap-4 space-y-3 rounded-lg p-3 shadow-md;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-bg-default);
  }

  .menu-button {
    @apply rounded-md transition-colors duration-200 ease-in-out;
    color: var(--color-fg-default);
    &:hover {
      background-color: var(--color-bg-muted);
    }
  }

  .menu-button-danger {
    &:hover {
      background-color: var(--color-bg-danger);
      color: var(--color-fg-on-feedback);
    }
  }

  .menu-button-active {
    background-color: var(--color-bg-muted-hover);
  }
}
