:root {
  /* =================================================
    *  Brand dimensions
    *================================================== */

  --color-bg-brand: var(--color-brand);

  /* =================================================
    *  Selected dimensions
    *================================================== */

  --color-bg-selected: --alpha(var(--color-accent)/80%);

  /* =================================================
    *  Prominence dimensions
    *================================================== */

  --color-bg-base: var(--color-zinc-50);
  --color-bg-default: var(--color-white);
  --color-bg-subtle: var(--color-zinc-100);
  --color-bg-muted: var(--color-zinc-200);

  /* =================================================
    *  Interaction dimensions
    *================================================== */
  --color-bg-brand-hover: var(--color-brand-hover);
  --color-bg-muted-hover: var(--color-zinc-300);
  --color-bg-subtle-hover: var(--color-zinc-200);
  --color-bg-danger-hover: var(--color-red-700);

  /* =================================================
    *  Elevation dimensions
    *================================================== */

  --color-bg-elevated: var(--color-white);

  /* =================================================
    *  Feedback dimensions
    *================================================== */

  --color-bg-success: var(--color-emerald-600);
  --color-bg-error: var(--color-red-600);
  --color-bg-warning: var(--color-amber-600);
  --color-bg-danger: var(--color-red-600);
}