:root {


  /* =================================================
    *  Section dimensions
    *================================================== */

  --color-bg-selected: var(--color-zinc-600);

  /* =================================================
    *  Brand dimensions
    *================================================== */

  --color-bg-brand: var(--color-brand);



  /* =================================================
    *  Prominence dimensions
    *================================================== */

  --color-bg-base: var(--color-zinc-50);
  --color-bg-default: var(--color-white);
  --color-bg-subtle: var(--color-zinc-100);
  --color-bg-muted: var(--color-zinc-200);



  /* =================================================
    *  Interaction dimensions
    *================================================== */
  --color-bg-interactive-brand-hover: var(--color-brand-hover);
  --color-bg-interactive-subtle-hover: var(--color-zinc-200);
  --color-bg-interactive-muted-hover: var(--color-zinc-300);
  --color-bg-interactive-danger-hover: var(--color-red-700);

  /* =================================================
    *  Elevation dimensions
    *================================================== */

  --color-bg-elevated: var(--color-white);

  /* =================================================
    *  Feedback dimensions
    *================================================== */


  --color-bg-feedback-success: --alpha(--color-emerald-600/ 50%);
  --color-bg-feedback-error: --alpha(--color-red-600 / 50%);
  --color-bg-feedback-warning: --alpha(--color-amber-600 / 50%);
  --color-bg-feedback-danger: var(--color-red-600);

}