:root {
  /* =================================================
    *  Brand dimensions
    *================================================== */
  --color-border-brand: var(--brand);

  /* =================================================
    *  Selected dimensions
    *================================================== */

  --color-border-selected: var(--color-accent);

  /* =================================================
    *  Prominence dimensions
    *================================================== */
  --color-border-default: var(--color-zinc-300);
  --color-border-muted: var(--color-zinc-200);
  --color-border-subtle: var(--color-zinc-100);



  /* =================================================
    *  Interaction dimensions
    *================================================== */
  --color-border-default-hover: var(--color-zinc-400);
  --color-border-muted-hover: var(--color-zinc-300);
  --color-border-subtle-hover: var(--color-zinc-200);

  --color-border-focus: var(--color-focus);

  /* =================================================
    *  Feedback dimensions
    *================================================== */
  --color-border-error: var(--color-red-600);
  --color-border-success: var(--color-emerald-600);
  --color-border-warning: var(--color-amber-600);
}