:root {
  /* =================================================
    *  brand
    *================================================== */
  --color-fg-brand: var(--color-brand);
  --color-fg-on-brand: var(--color-white);

  /* =================================================
    *  Selected dimensions
    *================================================== */

  --color-fg-on-selected: var(--color-white);
  --color-fg-selected: var(--color-accent);

  /* =================================================
    *  Prominence dimensions
    *================================================== */
  --color-fg-default: var(--color-zinc-900);
  --color-fg-subtle: var(--color-zinc-700);
  --color-fg-muted: var(--color-zinc-600);

  /* =================================================
    *  Interaction dimensions
    *================================================== */

  --color-fg-brand-hover: var(--color-brand-hover);

  --color-fg-disabled: var(--color-zinc-400);
  --color-fg-muted-hover: var(--color-zinc-800);
  --color-fg-subtle-hover: var(--color-zinc-700);
  --color-fg-on-danger: var(--color-white);
  --color-fg-danger-hover: var(--color-red-700);

  /* =================================================
    *  Elevation dimensions
    *================================================== */
  --color-fg-on-overlay: var(--color-white);

  /* =================================================
    *  Feedback dimensions
    *================================================== */

  --color-fg-error: var(--color-red-700);
  --color-fg-success: var(--color-green-700);
  --color-fg-warning: var(--color-yellow-700);


  --color-fg-on-feedback: var(--color-white);

  /* =================================================
    *  Domain
    *================================================== */

  --color-fg-danger: var(--color-red-600);
  --color-fg-action: var(--color-blue-600);
}