:root {
  /* =================================================
    *  brand
    *================================================== */
  --color-fg-brand: var(--color-brand);
  --color-fg-on-brand: var(--color-fg-on-brand);

  /* =================================================
    *  Selected dimensions
    *================================================== */

  --color-fg-on-selected: var(--color-fg-on-accent);

  /* =================================================
    *  Prominence dimensions
    *================================================== */
  --color-fg-default: var(--color-zinc-900);
  --color-fg-muted: var(--color-zinc-600);
  --color-fg-subtle: var(--color-zinc-400);

  /* =================================================
    *  Interaction dimensions
    *================================================== */

  --color-fg-interactive-brand-hover: var(--color-brand-hover);
  --color-fg-interactive-default-hover: var(--color-zinc-700);
  --color-fg-interactive-muted-hover: var(--color-zinc-500);
  --color-fg-interactive-subtle-hover: var(--color-zinc-300);

  /* =================================================
    *  Feedback dimensions
    *================================================== */

  --color-fg-feedback-error: var(--color-red-700);
  --color-fg-on-feedback: var(--color-white);

  /* =================================================
    *  Special dimensions
    *================================================== */

  --color-fg-required: var(--color-red-600);
}
