:root {
  /* =================================================
    * Domain: Shadow
    *================================================== */
  /* Background Colors */
  --shadow-control: var(--shadow-xs);
  --shadow-surface: var(--shadow-sm);
  --shadow-surface--hover: var(--shadow-md);
  --shadow-popover: var(--shadow-md);
  --shadow-modal: var(--shadow-lg);
  --shadow-floating: var(--shadow-xl);
  /* =================================================
    *  Interaction dimensions
    *================================================== */

  --color-ring-focus: var(--color-focus);

  /* =================================================
    *  Feedback dimensions
    *================================================== */
  --color-ring-error: var(--color-red-600);
}
