@layer components {
  .client-container {
    width: 100%;
    max-width: var(--max-width-container);
    margin-inline: auto;
    padding: var(--spacing-6) var(--spacing-6) var(--spacing-12);
    scroll-margin-top: 7rem;
  }
}
