@layer components {

    @keyframes successHightlight {
        50% {
            background-color: color-mix(in srgb, var(--color-bg-success) 80%, var(--color-bg-default) 20%);
        }
    }

    @keyframes successHightlightDark {
        50% {
            background-color: color-mix(in srgb, var(--color-bg-success) 40%, var(--color-bg-default) 60%);
        }
    }


    .animate-success-row {
        animation: successHightlight 0.8s ease-in-out 4;

        .dark & {
            animation: successHightlightDark 0.8s ease-in-out 4;
        }
    }


}