.dark {
  /*brands*/
  --color-brand: var(--color-blue-500);
  --color-brand-hover: var(--color-blue-600);

  /*accent*/

  --color-accent: var(--color-blue-500);

  /*focus*/
  --color-focus: var(--color-blue-500);

  /*overlay*/
  --color-overlay: --alpha(var(--color-black)/50%);
}
