@layer components {
  .input-base {
    @apply w-full rounded-md px-3 py-2 text-[15px] transition-colors duration-200 ease-in-out outline-none;
  }

  .input-default {
    @apply focus:ring-2;
    color: var(--color-fg-default);
    border: 1px solid var(--color-border-default);

    background-color: var(--color-bg-muted);

    &:hover {
      border-color: var(--color-border-interactive-default-hover);
    }

    &:focus {
      border-color: var(--color-border-interactive);
      --tw-ring-color: --alpha(var(--color-ring-interactive)/20%);
    }

    &::placeholder {
      color: var(--color-fg-subtle);
    }
  }

  .input-disabled {
    @apply cursor-not-allowed opacity-70;
    color: var(--color-fg-muted);
    background-color: var(--color-bg-muted);
    border: 1px solid var(--color-border-muted);
  }

  .input-error {
    @apply focus:ring-2;
    border: 1px solid var(--color-border-feedback-error);
    color: var(--color-fg-feedback-error);

    &:focus {
      color: var(--color-fg-feedback-error);
      --tw-ring-color: --alpha(var(--color-ring-feedback-error)/20%);
    }
  }

  .input-with-left-addon {
    @apply pl-6.5;
  }

  .input-with-right-addon {
    @apply pr-6.5;
  }

  .checkbox {
    @apply flex-center cursor-pointer rounded-sm transition-colors duration-200 ease-in-out outline-none;
    border: 1px solid var(--color-border-default);
    background-color: var(--color-bg-muted);
  }

  .checkbox-default {
    @apply cursor-pointer;

    &:hover {
      background-color: var(--color-bg-interactive-muted-hover);
    }

    &[data-state="checked"] {
      background-color: var(--color-bg-selected);
      border-color: var(--color-border-selected);
    }
  }

  .checkbox-disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .checkbox-indicator {
    color: var(--color-fg-on-selected);
  }

  .checkbox-label {
    @apply text-sm text-text-secondary;
  }

  .checkbox-label-default {
    @apply cursor-pointer;
  }

  .checkbox-label-disabled {
    @apply cursor-not-allowed opacity-50;
  }
}
