@theme {
  /* ==========================================================
   * Background
   * ========================================================== */
  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);

  --color-surface-2: var(--surface-2);

  --color-surface-3: var(--surface-3);

  /* ==========================================================
   * Border
   * ========================================================== */

  --color-border-secondary: var(--border-secondary);

  /* ==========================================================
   * Text Colors
   * ========================================================== */

  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);

  /* ==========================================================
   * Semantic
   * ========================================================== */

  --color-required: var(--danger);
}
