@theme {
  /* ==========================================================
   * Semantic 
   * ========================================================== */



  /* ================= Text Colors ================= */

  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-tertiary: var(--text-tertiary);



  /* ================= Surface Colors ================= */

  --color-surface-0: var(--surface-0);
  --color-surface-1: var(--surface-1);
  --color-surface-2: var(--surface-2);
  --color-surface-3: var(--surface-3);


  /* ================= Border Colors ================= */

  --color-border-secondary: var(--border-secondary);
  --color-border-tertiary: var(--border-tertiary);

  /* ================= State Colors ================= */

  --color-required: var(--error);

  /* ================= Z-Index Layers ================= */

  /* Layout Layers */
  --z-index-sticky: 100;

  /* Floating UI */
  --z-index-popover: 200;

  /* Overlays & Dialogs */
  --z-index-overlay: 300;
  --z-index-modal: 400;

  /* Global Notifications */
  --z-index-toast: 500;
  --z-index-max: 9999;



}