/* ==========================================================
* Link
* ========================================================== */

@utility link-primary {
  @apply font-semibold;
  color: var(--link-primary);
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--link-primary-hover);
    @apply underline;
  }
}

@utility link-secondary {
  @apply text-sm font-medium;
  color: var(--link-secondary);

  transition: color var(--duration-fast) var(--ease-default);
  &:hover {
    color: var(--link-secondary-hover);
    @apply underline;
  }
}

/* ==========================================================
* Border
* ========================================================== */
@utility border-secondary {
  border: 1px solid var(--border-secondary);
}

/* ==========================================================
* Layout
* ========================================================== */

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ==========================================================
*  Custom
* ========================================================== */

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 9999px;
    border: 2px solid var(--scrollbar-track);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}

/* ==========================================================
*  scroll-target
* ========================================================== */

@utility scroll-target {
  @apply scroll-mt-30;
}
