/* ==========================================================
* Text
* ========================================================== */

@utility text-secondary {
  color: var(--text-secondary);
  font-size: var(--text-secondary-size);
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--text-secondary-hover);
  }
}

@utility text-tertiary {
  color: var(--text-tertiary);
  font-size: var(--text-tertiary-size);
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--text-tertiary-hover);
  }

}


/* ==========================================================
* Link
* ========================================================== */

@utility link-primary {
  color: var(--link-primary);
  font-size: var(--link-primary-size);
  font-weight: 600;
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--link-primary-hover);
    text-decoration: underline;

  }
}

@utility link-secondary {
  color: var(--link-secondary);
  font-size: var(--link-secondary-size);
  font-weight: 600;
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--link-secondary-hover);
    text-decoration: underline;
  }
}


/* ==========================================================
* Border
* ========================================================== */
@utility border-secondary {
  border: 1px solid var(--secondary-border);
}



/* ==========================================================
* Layout
* ========================================================== */

@utility flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ==========================================================
*  Custom
* ========================================================== */


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
    border-radius: 9999px;
    border: 2px solid var(--scrollbar-track);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-hover);
  }
}

/* ==========================================================
*  Focus
* ========================================================== */

@utility focus-ring-primary {
  @apply focus:ring-2;

  &:focus {
    --tw-ring-color: var(--focus-ring-primary);
  }


}

@utility focus-ring-warning {
  @apply focus:ring-2;

  &:focus {
    --tw-ring-color: var(--focus-ring-warning);
  }
}

@utility scroll-target {
  @apply scroll-mt-36 xl:scroll-mt-16;
}