:root {

  /* ==========================================================
   * Spacing
   * ========================================================== */

  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;

  /* ==========================================================
   * Typography
   * ========================================================== */

  /* Font family */
  --font-sans: "Be Vietnam Pro", sans-serif;

  /* Font size */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;

  /* ==========================================================
   * Breakpoints
   * ========================================================== */

  --breakpoint-3xl: 120rem;

  /* ==========================================================
   * Width
   * ========================================================== */

  --max-width-container: 80rem;

  /* ==========================================================
   * Animation
   * ========================================================== */
  --duration-fast: 150ms;
  --duration-normal: 200ms;
  --duration-slow: 300ms;

  --ease-default: ease-in-out;

  /* ==========================================================
   * Brand Colors
   * ========================================================== */

  --primary: var(--color-blue-600);
  --primary-hover: var(--color-blue-700);
  --primary-foreground: var(--color-zinc-50);

  --secondary: var(--color-zinc-100);
  --secondary-hover: var(--color-zinc-200);
  --secondary-foreground: var(--color-zinc-900);
  --secondary-border: var(--color-zinc-300);

  --destructive: var(--color-red-600);
  --destrcutive-hover: var(--color-red-700);
  --destructive-foreground: var(--color-zinc-100);

  /* ==========================================================
   * Background
   * ========================================================== */

  --surface-0: var(--color-zinc-50);

  --surface-1: var(--color-zinc-100);
  --surface-1-hover: var(--color-zinc-200);

  --surface-2: var(--color-zinc-200);
  --surface-2-hover: var(--color-zinc-300);

  --surface-2-disabled: var(--color-zinc-100);

  --surface-3: var(--color-zinc-300);

  /* ==========================================================
 * Border
 * ========================================================== */
  --border-primary: var(--color-zinc-300);
  --border-primary-hover: var(--color-zinc-400);
  --border-primary-focus: var(--color-blue-600);

  --border-primary-warning: var(--color-red-700);

  --border-secondary: var(--color-zinc-200);
  --border-secondary-hover: var(--color-zinc-300);
  --border-secondary-checked: var(--color-blue-500);
  --border-secondary-disabled: var(--color-zinc-100);

  --border-secondary-warning: var(--color-red-600);
  --border-secondary-warning-focus: var(--color-red-700);

  /* ==========================================================
 * Focus
 * ========================================================== */

  --focus-ring-primary: --alpha(var(--color-blue-600) / 20%);
  --focus-ring-warning: --alpha(var(--color-red-600) / 20%);

  /* ==========================================================
   * Text
   * ========================================================== */

  --text-primary: var(--color-zinc-900);
  --text-secondary: var(--color-zinc-800);
  --text-tertiary: var(--color-zinc-700);

  --text-primary-size: var(--font-size-base);
  --text-secondary-size: var(--font-size-sm);
  --text-tertiary-size: var(--font-size-xs);

  --text-primary-hover: var(--color-zinc-800);
  --text-secondary-hover: var(--color-zinc-800);
  --text-tertiary-hover: var(--color-zinc-500);

  --text-secondary-disabled: var(--color-zinc-500);

  --text-primary-warning: var(--color-red-600);
  --text-primary-warning-hover: var(--color-red-700);

  /* ==========================================================
   * Placeholder
   * ========================================================== */

  --text-placeholder: var(--color-zinc-400);

  /* ==========================================================
   * Links
   * ========================================================== */

  --link-primary: var(--color-blue-600);

  --link-primary-hover: var(--color-blue-700);
  --link-primary-active: var(--color-blue-800);
  --link-primary-size: var(--font-size-sm);

  --link-secondary: var(--color-blue-500);
  --link-secondary-hover: var(--color-blue-600);
  --link-secondary-size: var(--font-size-xs);
  --link-secondary-active: var(--color-blue-700);

  /* ==========================================================
   * Nav-link
   * ========================================================== */

  --nav-link-primary: var(--color-zinc-900);
  --nav-link-primary-hover: var(--color-blue-600);
  --nav-link-primary-active: var(--color-blue-700);

  /* ==========================================================
   * Semantic
   * ========================================================== */
  --danger: var(--color-red-600);

  /* ==========================================================
   * Scrollbar
   * ========================================================== */

  --scrollbar-track: #f1f5f9;
  --scrollbar-thumb: #cbd5e1;
  --scrollbar-thumb-hover: #94a3b8;
}