:root {
  /* ==========================================================
   *  Layout
   * ========================================================== */

  /* Responsive breakpoints */
  --breakpoint-3xl: 120rem;

  /* Common layout widths */

  --max-width-container: 80rem;

  /* ==========================================================
   *  Typography
   * ========================================================== */

  --font-sans: "Be Vietnam Pro", sans-serif;

  /* ==========================================================
   * Brand Colors
   * ========================================================== */

  /* brand primary */

  --brand-primary: var(--color-blue-600);
  --brand-primary-foreground: var(--color-zinc-50);
  --brand-primary-hover: var(--color-blue-700);

  /* brand secondary */

  --brand-secondary: var(--color-zinc-100);
  --brand-secondary-foreground: var(--color-zinc-900);
  --brand-secondary-hover: var(--color-zinc-200);

  /* brand destructive */

  --brand-destructive: var(--color-red-600);
  --brand-destructive-foreground: var(--color-zinc-50);
  --brand-destructive-hover: var(--color-red-700);

  /* brand error */

  --brand-error: var(--color-red-600);
  --brand-error-foreground: var(--color-zinc-100);

  --brand-warning: var(--color-amber-600);
  --brand-warning-foreground: var(--color-zinc-100);

  --brand-success: var(--color-emerald-600);
  --brand-success-foreground: var(--color-zinc-100);

  /* ==========================================================
   *  Semantic 
   * ========================================================== */

  /* ================= Color Roles ================= */

  /* primary color */
  --primary: var(--brand-primary);
  --primary-foreground: var(--brand-primary-foreground);
  --primary-hover: var(--brand-primary-hover);

  /* secondary color */
  --secondary: var(--brand-secondary);
  --secondary-foreground: var(--brand-secondary-foreground);
  --secondary-hover: var(--brand-secondary-hover);

  /* destructive color */
  --destructive: var(--brand-destructive);
  --destructive-foreground: var(--brand-destructive-foreground);
  --destructive-hover: var(--brand-destructive-hover);

  /* error color */
  --warning: var(--brand-warning);
  --warning-foreground: var(--brand-warning-foreground);
  --error: var(--brand-error);
  --error-foreground: var(--brand-error-foreground);
  --success: var(--brand-success);
  --success-foreground: var(--brand-success-foreground);

  /* ================= UI Roles ================= */

  /* Text */
  --text-primary: var(--color-zinc-700);
  --text-secondary: var(--color-zinc-600);
  --text-tertiary: var(--color-zinc-500);

  /* Surface */
  --surface-0: var(--color-zinc-50);
  --surface-1: var(--color-zinc-100);
  --surface-2: var(--color-zinc-200);
  --surface-3: var(--color-zinc-300);

  --success-surface: --alpha(var(--success) / 50%);
  --success-surface-foreground: var(--success-foreground);
  --error-surface: --alpha(var(--error) / 50%);
  --error-surface-foreground: var(--error-foreground);
  --warning-surface: --alpha(var(--warning) / 50%);
  --warning-surface-foreground: var(--warning-foreground);

  /* Border */
  --border-primary: var(--color-zinc-400);
  --border-secondary: var(--color-zinc-300);
  --border-tertiary: var(--color-zinc-200);


  /* ==========================================================
   * Browser UI
   * ========================================================== */

  /* Scrollbar */
  --scrollbar-track: var(--color-slate-100);
  --scrollbar-thumb: var(--color-slate-300);
  --scrollbar-thumb-hover: var(--color-slate-400);
}