@layer components {
  .button-sm {
    @apply px-2 py-1.5 text-sm;
  }

  .icon-button-sm {
    @apply size-4;
  }

  .button-md {
    @apply px-3 py-2 text-sm;
  }

  .icon-button-md {
    @apply size-8;
  }

  .button-lg {
    @apply px-4 py-2.5 text-base;
  }

  .icon-button-lg {
    @apply size-6;
  }

  .button-base {
    @apply inline-flex cursor-pointer items-center justify-center gap-2 rounded-control transition-colors duration-200 ease-in-out outline-none select-none;
  }

  .button-disabled {
    @apply pointer-events-none cursor-default opacity-80;
  }

  .button-selected {
    color: var(--color-fg-on-brand);
    border-color: var(--color-border-brand);
    background-color: var(--color-bg-brand);
  }

  .button-primary.solid {
    background-color: var(--color-bg-primary-solid);
    color: var(--color-fg-on-primary-solid);
    border: 1px solid var(--color-border-primary-solid);

    &:hover {
      background-color: var(--color-bg-primary-solid-hover);
    }
  }

  .button-secondary.solid {
    background-color: var(--color-bg-secondary-solid);
    color: var(--color-fg-on-secondary-solid);
    border: 1px solid var(--color-border-secondary-solid);

    &:hover {
      background-color: var(--color-bg-secondary-solid-hover);
    }
  }

  .button-secondary.outline {
    background-color: var(--color-bg-secondary-outline);
    color: var(--color-fg-on-secondary-outline);
    border: var(--color-border-secondary-outline);

    &:hover {
      background-color: var(--color-bg-secondary-outline-hover);
    }
  }

  .button-secondary.ghost {
    background-color: var(--color-bg-secondary-ghost);
    color: var(--color-fg-on-secondary-ghost);
    border: 1px solid var(--color-border-secondary-ghost);

    &:hover {
      background-color: var(--color-bg-secondary-ghost-hover);
    }
  }

  .button-tertiary.ghost {
    background-color: var(--color-bg-tertiary-ghost);
    color: var(--color-fg-on-tertiary-ghost);
    border: none;

    &:hover {
      color: var(--color-fg-on-tertiary-ghost-hover);
    }
  }

  .button-destructive.solid {
    background-color: var(--color-bg-destructive-solid);
    color: var(--color-fg-on-destructive-solid);
    border: 1px solid var(--color-border-destructive-solid);

    &:hover {
      background-color: var(--color-bg-destructive-solid-hover);
    }
  }

  .button-destructive.ghost {
    background-color: var(--color-bg-destructive-ghost);
    color: var(--color-fg-on-destructive-ghost);
    border: none;

    &:hover {
      color: var(--color-fg-on-destructive-ghost-hover);
    }
  }
}
