@layer components {
  .button-sm {
    @apply px-3 py-2 text-sm;
  }

  .icon-button-sm {
    @apply size-4;
  }

  .button-md {
    @apply px-4 py-2.5 text-sm;
  }

  .icon-button-md {
    @apply size-5;
  }

  .button-lg {
    @apply px-5 py-3 text-base;
  }

  .icon-button-lg {
    @apply size-6;
  }

  .button-base {
    @apply inline-flex cursor-pointer items-center justify-center gap-1 rounded-md transition-colors duration-200 ease-in-out outline-none select-none;
  }

  .button-primary.solid {
    background-color: var(--color-primary-solid-bg);
    color: var(--color-primary-solid-fg);
    border: 1px solid var(--color-primary-solid-border);

    &:hover {
      background-color: var(--color-primary-solid-hover-bg);
    }
  }

  .button-secondary.solid {
    background-color: var(--color-secondary-solid-bg);
    color: var(--color-secondary-solid-fg);
    border: 1px solid var(--color-secondary-solid-border);

    &:hover {
      background-color: var(--color-secondary-solid-hover-bg);
    }
  }

  .button-tertiary.ghost {
    background-color: var(--color-tertiary-solid-bg);
    color: var(--color-tertiary-solid-fg);
    border: 1px solid var(--color-tertiary-solid-border);

    &:hover {
      background-color: var(--color-tertiary-solid-hover-bg);
    }
  }
}
