@utility flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


@utility scroll-target {
    @apply scroll-mt-30;
}

@utility layout-container {
    @apply mx-auto w-full;
    max-width: var(--max-width-container);
}

@utility layout-container-sm {
    @apply mx-auto w-full;
    max-width: var(--max-width-container-sm);
}