@utility link-primary {
  @apply font-semibold transition-colors duration-150 ease-in-out;
  color: var(--color-fg-brand);
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--color-fg-brand-hover);
    @apply underline;
  }
}

@utility link-secondary {
  @apply text-sm font-medium transition-colors duration-150 ease-in-out;
  color: --alpha(var(--color-fg-brand) / 80%);

  &:hover {
    color: var(--color-fg-brand);
    @apply underline;
  }
}