@utility link-primary {
  @apply font-semibold;
  color: var(--text-link);
  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--text-link-hover);
    @apply underline;
  }
}

@utility link-secondary {
  @apply text-sm font-medium;
  color: var(--text-link);

  transition: color var(--duration-fast) var(--ease-default);

  &:hover {
    color: var(--text-link-hover);
    @apply underline;
  }
}
