@layer components {
  .empty-state-container {
    @apply flex-center flex-col gap-8 py-24;
  }

  .empty-state-icon-wrapper {
    @apply flex-center size-18 rounded-pill;
    background-color: var(--color-bg-muted);
  }

  .empty-state-icon {
    @apply size-[70%];
    color: color-mix(
      in srgb,
      var(--color-fg-muted) 70%,
      var(--color-bg-default) 30%
    );
  }

  .empty-state-content {
    @apply flex-center flex-col gap-3 text-center;
  }

  .empty-state-content-title {
    @apply text-xl font-semibold md:text-2xl;
    color: var(--color-fg-default);
  }

  .empty-state-content-description {
    @apply max-w-md text-xs leading-6 md:text-sm;
    color: var(--color-fg-subtle);
  }
}
