@layer components {
  .spinner-container {
    @apply relative size-4.5;
  }

  .spinner-outer {
    @apply absolute inset-0 rounded-pill border-3 border-current/20 bg-current/20;
  }

  .spinner-inner {
    @apply absolute inset-0 animate-spin rounded-pill border border-transparent [animation-duration:1s];
    border-top: 3px solid currentColor;
  }

  .dual-ring-container {
    @apply relative size-9 select-none lg:size-10;
  }

  .dual-ring {
    @apply absolute rounded-pill;
    border: 2px solid transparent;
  }

  .dual-ring-outer {
    @apply inset-0 animate-spin;
    border-top-color: --alpha(var(--color-fg-brand) / 80%);
    border-left-color: --alpha(var(--color-fg-brand) / 80%);
  }

  .dual-ring-inner {
    @apply inset-1 animate-[spin_1.5s_linear_infinite_reverse];
    border-right-color: color-mix(in srgb, var(--color-fg-brand) 15%, white);
    border-bottom-color: color-mix(in srgb, var(--color-fg-brand) 15%, white);
  }
}
