@layer components {

    .modal-container {
        @apply flex w-full flex-col gap-3 overflow-hidden rounded-xl p-6 shadow-2xl shadow-black/90 lg:max-w-90 z-modal;
        border: 1px solid var(--color-border-muted);

    }

    .modal-header-container {
        @apply flex flex-col gap-3.5;
    }

    .modal-header-title {
        @apply font-semibold wrap-break-word uppercase;
        color: var(--color-text-default);
    }

    .modal-header-subtitle {
        @apply text-sm wrap-break-word;
        color: var(--color-text-muted);
    }

    .modal-footer {
        @apply flex justify-end gap-3;
    }

}