@layer components {
  .toast {
    @apply pointer-events-auto flex items-center gap-3 rounded-md border-l-6 shadow-xl backdrop-blur-lg;
    color: var(--color-fg-on-feedback);
  }

  .toast-success {
    background-color: var(--color-bg-success);
    border-color: var(--color-border-success);
  }

  .toast-error {
    background-color: var(--color-bg-error);
    border-color: var(--color-border-error);
  }

  .toast-warning {
    background-color: var(--color-bg-warning);
    border-color: var(--color-border-warning);
  }

  .toast-size-sm {
    @apply max-w-96 min-w-72 gap-2.5 rounded-md border-l-4 px-4 py-3;
  }
  .toast-size-md {
    @apply max-w-100 min-w-80 gap-3 rounded-md border-l-6 px-5 py-4;
  }
  .toast-size-lg {
    @apply max-w-120 min-w-96 gap-4 rounded-lg border-l-6 px-6 py-5;
  }
}
