:root {
  /* =================================================
    *  background colors
    *================================================== */

  --color-bg-promotion: var(--color-yellow-50);
  --color-bg-promotion-urgent: var(--color-rose-600);
  --color-bg-enrollment-pending: var(--color-yellow-50);
  --color-bg-enrollment-pending-hover: var(--color-yellow-100);
  --color-bg-enrolled: var(--color-emerald-50);
  --color-bg-enrolled-hover: var(--color-emerald-100);




  /* =================================================
    *  border colors
    *================================================== */
  --border-color-promotion: var(--color-yellow-300);

  /* =================================================
    *  Foreground colors
    *================================================== */

  --color-fg-required: var(--color-red-700);
  --color-fg-available: var(--color-green-700);
  --color-fg-rating: var(--color-amber-500);
  --color-fg-promotion: var(--color-yellow-700);
  --color-fg-promotion-urgent: var(--color-rose-700);
  --color-fg-completed: var(--color-green-700);
  --color-fg-incomplete: var(--color-red-700);

  --color-fg-discount: var(--color-green-700);

  --color-fg-enrolled: var(--color-emerald-700);
  --color-fg-enrollment-pending: var(--color-yellow-700);
}