:root {
  /* =================================================
    *  Prominence dimensions
    *================================================== */
  --color-fg-default: var(--color-zinc-50);
  --color-fg-muted: var(--color-zinc-300);
  --color-fg-subtle: var(--color-zinc-400);

  /* =================================================
    *  Interaction dimensions
    *================================================== */
  --color-fg-interactive: var(--color-brand);
  --color-fg-on-interactive: var(--color-fg-on-brand);

  --color-fg-disabled: var(--color-zinc-600);
  --color-fg-muted-hover: var(--color-zinc-200);
  --color-fg-subtle-hover: var(--color-zinc-400);

  /* =================================================
    *  Feedback dimensions
    *================================================== */

  --color-fg-error: var(--color-red-600);
}
