:root {

    --success-surface: --alpha(--color-emerald-600/ 50%);
    --error-surface: --alpha(--color-red-600 / 50%);
    --warning-surface: --alpha(--color-amber-600 / 50%);

    --surface-foreground: var(--color-zinc-100);



    --color-bg-danger: var(--color-red-600);
    --color-fg-danger: var(--color-white);
    --color-bg-danger-hover: var(--color-red-700);

}